.col{
    height: 100vh !important;
}

.part1{
    background-color: rgb(66,83,177)
}

.nuevo-usuario{
    display: block;
}

.input-usuario, .input-contraseña{
    border: none;
    border-radius: 5px;
}