.box-img-login{
    background-image: url(../img/box.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form{
    padding: 15px;
    box-shadow: 0px 0px 1px 0px black;
}

.form-control:focus{
    box-shadow: none !important;
}